*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Header background */
header {
   /* background: url("../images/developer.png"),url("../images/header-bg.png,"),#FFF8F3;
    background-position: top left, bottom right; */
    background-color: #FFF8F3;
    padding-top: 50px;

    background-image: 
        url("../hero-dev-code/images/developer.png"),
        url("../hero-dev-code/images/header_bg.png");

    background-position: left top, right bottom;
     /* background-position: 23 38, right bottom; */
    background-repeat: no-repeat;
      /* size control */
   background-size: contain, 500px auto;
   vertical-align: middle; 
}

.logo h2{
    font-size: 45px;
    /* font-weight: 700; */
    /* color: #FD6E0A; */
}
.color-orange{
    color: #FD6E0A;
}
nav{
    
    width: 84%;
    max-width: 1288px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    padding: 17px 34px 20.58px 34px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    /* cursor: pointer; */
    cursor: pointer;

}

nav .menu{
    list-style-type: none;
    display: flex;
    gap: 61px;
    text-align: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 15px;
    color: #474747;
}
#banner{
    /* border:1px solid red; */
    margin: 21px 38px 0px 213px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 682px;
 }


#banner .banner-content h2{
   font-size: 25px;
    margin-bottom: 6px;
    font-weight: 600;
    color:#474747;
}
#banner .banner-content h1{
    font-size: 65px;
    margin-bottom: 20px;
    color:black;
    font-weight: bold;
    max-width: 500px;
}
#banner .banner-content p{
    color: #757575;
    font-size: 30px;
   line-height: 30px;
    margin-bottom: 15px;
}
#banner .banner-content img{
    max-width: 100%;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}

#about .about-container{
    max-width: 1140px;
    max-width: 74.12%;
    margin:0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px 131px 156px;
}

.section-heading{
    max-width:827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
    /* color: #474747;
    font-weight: 600; */
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    /* margin-top: 15px; */
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .info-card p{
    /* margin-top: 15px; */
    font-size: 20px;
    color: black;
   ;
}
#skills{
    padding-top: 130px;
}
/* .skills-container{
    max-width: 1140px;
    max-width: 74.12%;
    margin:0 auto;
} */
#skills .skills-container{
    max-width: 1140px;
    max-width: 74.12%;
    margin:0 auto;
}
.section-heading{
    max-width:827px;
    text-align: center;
    margin: 0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;;
}
.skill-box .skill-card{
   padding: 30px;
   /* border: 1px solid #461212; */
max-width: 267px;
box-shadow: 0 6px 50px 0 rgb(215, 212, 212);
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    margin-bottom: 30px;
    color:#0a080859;
}
.skill-card p{
  font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}
#resume{
    padding-top: 130px;
}
#resume .resume-container{
    max-width: 1140px;
    max-width: 74.12%;
    margin:113px auto 0;
    /* text-align: center; */
    display:flex;
    gap:24px;
}
#resume .resume-container .section-title{
    color:#757575;
    font-size: 20px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    margin-bottom: 10px;
    color:#474747;
    font-weight: bold;
}
.resume-card .card-info{
    font-size: 25px;
    margin-bottom: 20px;
    color:#726f6f;
    font-weight: 600;
}
.resume-card .card-title{
    font-size: 25px;
    margin-bottom: 10px;
    color:#474747;
    font-weight: bold;
}
.resume-card .card-text{
    font-size: 16px;
   line-height: 28px;
    color:#757575;
}
.resume-container hr{
    margin: 30px 0;
}
#button{
    margin-top: 50px;
}
.class-center{
    text-align: center;
}
footer{
    background-color: #FFF8F3;
    /* padding: 130px 0 130px 230px; */
    padding: 130px 0;
    margin-top: 130px;
}
footer .footer-container{
    max-width: 1140px;
    max-width: 74.12%;
    margin:0 auto;
    display: flex;
    gap:117px;
}
footer .footer-container .social{
    max-width: 562px;
}
/* footer .footer-container .social h2{
    font-size: 35px;
    color:#060404;
    margin-bottom: 30px;
} */
 footer .footer-container  h2{
    font-size: 35px;
    color:#060404;
    margin-bottom: 30px;
 }
footer .footer-container .social p{
    font-size: 16px;
    color:#757575;
    line-height: 28px;
    margin-bottom: 30px;
}
/* footer .footer-container .social .icons{
    margin-right:24px
} */
  footer .footer-container .social .icons a{
    margin-right:24px
  }
  .footer-container form input[type="text"], .footer-container form textarea{
    /* padding: 18px 349px 18px 30px; */
     padding: 18px 30px;
    width: 461px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
  }